* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
html {
  background: #121212;
  color: #eee;
}

.site-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/* Nav Area */
.top-bar {
  width: 100%;
  margin-top: 0;
  position: relative;
  height: 80px;
  text-align: right;
  background-color: #000;
}
#title {
  position: absolute;
  left: 20px;
  top: 0;
  display: inline-block;
  height: 100%;
}
.nav {
  height: 100%;
  display: inline-block;
}
.nav a {
  margin: 0 20px;
  font-size: 120%;
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #eee;
}

.nav a:hover {
  text-decoration: underline;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Headings */

/* Styles for Tiles */

  .grid.tiles {
    max-height: 40vh;
    overflow: auto;
  }

  .tile {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    border: 3px solid rgb(34, 34, 34);
    border-radius: 7px;
    margin: 10px;
    transition: 0.5s all;
    --shadow: transparent;
    box-shadow: 0 0 10px 5px var(--shadow);
    font-size: 100%;
  }

  .tile.selected {
    border-color: green;
  }

  .tile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .tile-subtitle {
    margin-top: 0;
  }

  .tooltip-wrapper {
    display: flex;
  }

  .tooltip {
    width: 100%;
    margin: 20px;
    background-color: #232323;
    padding: 20px;
    border-radius: 16px;
    pointer-events: none;
    transition: 0.2s all;
  }

  .tooltip .tile-name {
    margin-bottom: 6px;
  }

  .tooltip img {
    width: 96px;
    height: 96px;
  }

  .tile-meta-list {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: flex-start;
  }

  .tile-meta-list .meta-info {
    margin-right: 10px;
  }

/* Styles for Cards */
  .card {
    display: inline-block;
    width: 250px;
    height: 320px;
    overflow: hidden;
    border: 1.25px solid rgb(34, 34, 34);
    border-radius: 16px;
    margin: 10px;
    transition: 0.5s all;
    --shadow: transparent;
    box-shadow: 0 0 10px 5px var(--shadow);
    position: relative;
    font-size: 90%;
  }

  .card:hover {
    --shadow: rgba(53, 53, 53, 0.103);
    /* transform: rotateY(180deg) translate(20px, 20px);
    background: pink; */
  }

  .card:hover .main-content {
    pointer-events: initial;
    opacity: 1;
  }

  .card * {
    margin: 0;
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn.add {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 500%;
    background-color: rgb(32, 136, 73);
    color: #fff;
  }
  .tile .btn.add {
    font-size: 230%;
    line-height: 110%;
  }

  .btn.add:hover {
    background-color: rgb(0, 201, 80);
  }

  .main-content {
    padding: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(34, 34, 34, 0.9);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
  }

  .card-subtitle {
    color: grey;
    font-size: 110%;
  }

  .card-name {
    font-weight: bold;
    font-size: 130%;
  }

  h4.card-name {
    position: absolute;
    font-size: 150%;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-shadow: 0px 0px 4px black;
  }

  .info ul {
    padding: 10px;
    padding-top: 0px;
    border-radius: 7px;
  }

  li {
    list-style-type: none;
    margin: 0;
  }

  .info {
    color: rgb(123, 123, 123);
    position: relative;
    overflow: hidden;
  }

  .info.meta-info {
    margin-top: 15px;
  }
  .meta-info h4 {
    color: #fff;
  }

.label {
  font-weight: bold;
}

.checkbox {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.checkbox .label {
  margin-top: 0;
  margin-left: 10px;
}

.checkbox > :first-child {
  flex-basis: 20%;
}

/* Buttons */
  .btn-container {
    text-align: right;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .btn {
    --accent: grey;
    cursor: pointer;
    background: transparent;
    border: 1.5px solid var(--accent);
    color: var(--accent);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 90%;
    letter-spacing: 1px;
    transition: 0.5s all;
    outline: none;
  }

  .btn:hover {
    background: var(--accent);
    color: white;
  }

  .edit.btn {
    --accent: green;
  }

  .delete.btn {
    --accent: rgb(249, 64, 64);
  }

  .view.btn {
    --accent: rgb(79, 79, 233);
  }

  .card-container {
    width: 100%;
  }

  .confirmation-box.show {
    display: block;
  }
